[project]
	description = Simple starting point website project based upon Initializr
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SanCM
	exclusiveGroupPermissions = create forgeAuthor forgeCommitter push pushMerge
[access "refs/for/refs/*"]
	read = group user/SanCM
	push = group user/SanCM
	label-Code-Review = -2..+2 group user/SanCM
	label-Verified = -1..+1 group user/SanCM
	rebase = group user/SanCM
	removeReviewer = group user/SanCM
	submit = group user/SanCM
	exclusiveGroupPermissions = read push label-Code-Review label-Verified rebase removeReviewer submit
[access "refs/heads/*"]
	read = group user/SanCM
	create = group user/SanCM
	push = +force group user/SanCM
	pushMerge = group user/SanCM
	exclusiveGroupPermissions = read create push pushMerge
[access "refs/tags/*"]
	push = +force group user/SanCM
	createTag = group user/SanCM
	createSignedTag = group user/SanCM
	exclusiveGroupPermissions = createTag createSignedTag push
[receive]
	requireSignedOffBy = true
	rejectImplicitMerges = true
